@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body.dark-mode {
    --primary-color: #00FFC3;
    --secondary-color: #00A2FF;
    --contrast-color: #FF00D4;
    --background-color: #0A0A0F;
    --surface-color: #15151E;
    --text-primary: #E3F6FF;
    --text-secondary: #8FA6B2;
    --success-color: #00FF85;
    --error-color: #FF206E;
    --warning-color: #FFB400;

}