.dark-theme-preview {
    --theme-color-1: #FFD700;
    --theme-color-2: #0A84FF;
    --theme-color-3: #EAEAEA;
    --theme-color-4: #121212;
}

.cyber-theme-preview {
    --theme-color-1: #FF00D4;
    --theme-color-2: #00FFC3;
    --theme-color-3: #E3F6FF;
    --theme-color-4: #0A0A0F;
}

.autumn-theme-preview {
    --theme-color-1: #FFD166;
    --theme-color-2: #CB6725;
    --theme-color-3: #FAF3E0;
    --theme-color-4: #2C1F1A;
}